<div class="parent">
    <div class="card">
        <div class="div1"></div>
        <div class="div2"><h1><b>About Me</b></h1></div>
        <div class="div3">
            <div class="div3-column">
                <img src="../../assets/img/1702670592750-transformed.png" alt="Profile Image">
                
            </div>
            
            <div class="div3-column">
                <p>
                    With a specialized focus on PHP, Angular, and Node.js, I am a dedicated graphic designer and web developer with a proven track record of success. My passion for creating captivating visual experiences extends to my proficiency in these programming languages, enabling me to seamlessly integrate dynamic and interactive elements into websites and applications.
                    Drawing upon my background in graphic design, I bring a strong focus on visual appeal to every project, ensuring that the final product is both aesthetically pleasing and highly functional. Whether I'm customizing WordPress themes, developing e-commerce platforms, or designing complex web applications, I strive to strike the perfect balance between form and function.
                 </p>
            </div>
            
        </div>
        <div class="div3-column">
            <div class="div4"><h1><b>Certificates</b></h1></div>
            <div class="div5">
                <div class="certificate-card">
                    <img src="./../../assets/img/certifs/Office Excel 2010-1.png">
                    <p>MOS Excel 2010</p>
                </div>
                <div class="certificate-card">
                    <img src="./../../assets/img/certifs/Office Excel 2010-1.png">
                    <p>MOS Word 2010</p>
                </div>
                <div class="certificate-card">
                    <img src="./../../assets/img/certifs/Office Excel 2010-1.png">
                    <p>MOS Word Expert 2010</p>
                </div>
                <div class="certificate-card">
                    <img src="./../../assets/img/certifs/Office Excel 2010-1.png">
                    <p>MOS Power Point 2010</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
